:root {
  --clr-background: #f9f2d2;
  --clr-background-alt: #b2ae99;
  --clr-text: #32231b;
  --clr-text-alt: #978278;
  --clr-primary: #1d7874;
  --clr-primary-alt: #679289;
  --clr-secondary: #ed6a5a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-background);
  color: var(--clr-text);
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}

main {
  padding: 2rem;
}

h1,
h2,
h3,
h4 {
  line-height: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

p {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
